.display{
    margin-top: 10%;
    margin-left: 25%;
    color: #c5c6c7;
}
.tableAuthor{
    color: white;
}
.button1{
    margin-left: 2%;
    color: aliceblue;
    background: #314051;
}
.authorBox{
    position: absolute;
    top: 40%;
    left: 70%;
}

.popUpBox{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    height: 8%;
    background: linear-gradient(rgb(255, 0, 0),rgb(49, 0, 0));

    text-align: center;
}
#popUpClose{
    float: right;
    height: 20%;
    width: 5%;
}
.popUpText{
    color: white;
}
.archive{
    float: right;
    width: 6%;
    height: 6%;
}